<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace = "edu.dao.CarManageMapper">
    
    <resultMap type="carOpDataBean" id="codp_map">
	    <result column="carInfo.carNum" property="carNum"/>
		<result column="driverInfo.motorcadeNum" property="motorcadeNum"/>
		<result column="driverInfo.driverName" property="driverName"/>
		<result column="carInfo.carBrand" property="carBrand"/>
		<result column="carInfo.carryingCapacity" property="carryingCapacity"/>
		<result column="carInfo.dateManu" property="dateManu"/>
		<result column="batteryInfo.batteryNum" property="batteryNum"/>
		<result column="carGuarantee.times" property="times"/>
		<result column="carMile.totalMile" property="totalMile"/>
	</resultMap>
	
	
	<!-- 查询所有运维信息 -->
	<select id="getAllOpData_mapper" resultMap="codp_map">
		SELECT * FROM carInfo ,driverInfo,batteryInfo,carGuarantee ,carMile 
		WHERE carInfo.driverNum=driverInfo.driverNum and carInfo.carNum=batteryInfo.carNum and 
		carInfo.carNum=carGuarantee.carNum and carInfo.carNum=carMile.carNum	
	</select>
	
		<!-- 根据车辆号查询运维信息 -->
	<select id="getOpDataByCarNum_mapper" parameterType="String" resultMap="codp_map">
		SELECT * FROM carInfo ,driverInfo,batteryInfo,carGuarantee ,carMile 
		WHERE carInfo.driverNum=driverInfo.driverNum and carInfo.carNum=batteryInfo.carNum and 
		carInfo.carNum=carGuarantee.carNum and carInfo.carNum=carMile.carNum and carInfo.carNum=#{0}
	</select>
	
	<!-- 根据车队号查询运维信息 -->
	<select id="getOpDataByMotorcadeNum_mapper" parameterType="String" resultMap="codp_map">
		SELECT * FROM carInfo ,driverInfo,batteryInfo,carGuarantee ,carMile 
		WHERE carInfo.driverNum=driverInfo.driverNum and carInfo.carNum=batteryInfo.carNum and 
		carInfo.carNum=carGuarantee.carNum and carInfo.carNum=carMile.carNum and driverInfo.motorcadeNum=#{0}
	</select>
	
	<!-- 根据车辆号查询保养信息 -->
    <select id="getGuaInfo_mapper" parameterType="String" resultType="GuaInfoBean">
		select * from carGuarantee where carNum = #{0}
	</select>
</mapper>