<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace = "edu.dao.CarManageMapper">
    
    <resultMap type="carOpDataBean" id="codp_map">
	    <result column="carInfo.carNum" property="carNum"/>
		<result column="driverInfo.motorcadeNum" property="motorcadeNum"/>
		<result column="driverInfo.driverName" property="driverName"/>
		<result column="carInfo.carBrand" property="carBrand"/>
		<result column="carInfo.carryingCapacity" property="carryingCapacity"/>
		<result column="carInfo.dataManu" property="dataManu"/>
		<result column="batteryInfo.batteryNum" property="batteryNum"/>
		<result column="carGuarantee.times" property="times"/>
		<result column="carMile.totalMile" property="totalMile"/>
		
	</resultMap>
	
	
	<!-- 根据订单时间分页查询订单 -->
	<select id="getAllOpData_mapper" resultMap="codp_map">
		SELECT * FROM carInfo ,driverInfo,batteryInfo,carGuarantee ,carMile 
		WHERE carInfo.driverNum=driverInfo.driverNum and carInfo.carNum=batteryInfo.carNum and 
		carInfo.carNum=carGuarantee.carNum and carInfo.carNum=carMile.carNum	
	</select>
	
    
</mapper>