<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace = "edu.dao.CarMapper">
	<select id="getCarByDriverNum" resultType="car">
		select * from carinfo where drivernum = #{0}
	</select>
	
	<select id="getCarByCarNum" resultType="car">
		select * from carinfo where carNum = #{0}
	</select>
	
	<update id="updateCarBrandCarrying" parameterType ="car" >
		update carinfo 
		set carinfo.carBrand = #{carBrand}, carinfo.carryingCapacity = #{carryingCapacity}
		where carinfo.carNum = #{carNum}
	</update>
	
	
	<select id="getPathPointsByCarNum" resultType="CarLocationBean">
		select * from carPathHistory 
		where carNum = #{0} and
		times between #{1} and #{2}
	</select>
</mapper>