<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace = "edu.dao.DriveManageMapper">
    
    <!-- 查询所有驾驶员信息 -->
    <select id="getAllDriverInfo_mapper" resultType="DriverBean">
		select * from driverInfo order by driverNum asc
	</select>
    
    <!-- 根据驾驶员姓名或驾驶号查询 -->
    <select id="getDriverInfoByNameOrNum_mapper" parameterType="String" resultType="DriverBean">
		select * from driverInfo where driverNum = #{0} or driverName = #{0}
	</select>
   
   <!-- 根据车队号查询 -->
    <select id="getDriverInfoByTeamNum_mapper" parameterType="String" resultType="DriverBean">
		select * from driverInfo where motorcadeNum = #{0}
	</select>
	
	<!-- 根据两种条件查询 -->
    <select id="getDriverInfoByBoth_mapper" parameterType="String" resultType="DriverBean">
		select * from driverInfo where (driverNum = #{0} or driverName = #{0}) and motorcadeNum = #{0}
	</select>
	
	<!-- 根据司机号更改司机信息 -->
	<update id="mofidyDriverInfo_mapper" parameterType="DriverBean">
         update driverInfo set driverNum = #{driverNum},motorcadeNum = #{motorcadeNum},carNum = #{carNum},
         driverName = #{driverName},driverSex = #{driverSex},driverPhone = #{driverPhone},driverPosition = #{driverPosition}
         where driverNum = #{driverNum}
     </update>
   
     <!-- 根据司机号删除司机信息 -->
     <delete id="delDriverInfo_mapper" parameterType="String">
          delete from driverInfo where driverNum = #{driverNum}
     </delete>
     
     <!-- 插入司机信息 -->	
	<insert id="addDriverInfo_mapper" parameterType="DriverBean" useGeneratedKeys="true"
	keyProperty="driverID">
		insert into driverInfo(driverNum,motorcadeNum,carNum,driverName,driverSex,driverPhone,driverPosition) 
		values(#{driverNum},#{motorcadeNum},#{carNum},#{driverName},#{driverSex},#{driverPhone},#{driverPosition})
	</insert>
	
	
	<!-- 根据日期和关键字查询超速事件的信息 -->
	 <resultMap type="CarOverSpeedBean" id="overSpeed_map">
	    <result column="driverInfo.carNum" property="carNum"/>
		<result column="driverInfo.driverNum" property="driverNum"/>
		<result column="driverInfo.driverName" property="driverName"/>
		<result column="carOverSpeed.limitSpeed" property="limitSpeed"/>
		<result column="carOverSpeed.maxSpeed" property="maxSpeed"/>
		<result column="carOverSpeed.statusIdent" property="statusIdent"/>
		<result column="carOverSpeed.times" property="times"/>
	</resultMap>

	   <select id="getOverSpeedInfo_mapper" parameterType="java.lang.String" resultMap="overSpeed_map">
             select * from driverInfo,carOverSpeed where driverInfo.carNum=carOverSpeed.carNum 
             <if test="#{2}!=null and #{2}!=''">
             and (driverInfo.carNum = #{2} || driverInfo.driverNum = #{2})
             </if>
             <if test="#{1} !=null and #{1} !=''">
             and  carOverSpeed.times  between str_to_date(#{0},'%Y-%m-%d') and str_to_date(#{1},'%Y-%m-%d')
             </if>
             <if test="#{0} ==null or #{0} ==''">
             and  str_to_date(#{1},'%Y-%m-%d') > carOverSpeed.times
             </if>
          </select>
          
     <!-- 根据日期和关键字查询超载事件的信息 -->
	 <resultMap type="CarOverLoadBean" id="overLoad_map">
	    <result column="driverInfo.carNum" property="carNum"/>
		<result column="driverInfo.driverNum" property="driverNum"/>
		<result column="driverInfo.driverName" property="driverName"/>
		<result column="carOverLoad.limitLoad" property="limitLoad"/>
		<result column="carOverLoad.actualLoad" property="actualLoad"/>
		<result column="carOverLoad.ident" property="ident"/>
		<result column="carOverLoad.times" property="times"/>
		
	</resultMap>

	   <select id="getOverLoadInfo_mapper" resultMap="overLoad_map">
             select * from driverInfo,carOverLoad where driverInfo.carNum=carOverLoad.carNum 
             <if test="#{2}!=null and #{2}!=''">
             and (driverInfo.carNum = #{2} || driverInfo.driverNum = #{2})
             </if>
             <if test="#{0} !=null and #{0} !=''">
             and  carOverLoad.times  between str_to_date(#{0},'%Y-%m-%d') and str_to_date(#{1},'%Y-%m-%d')
             </if>
             <if test="#{0} ==null or #{0} ==''">
             and  str_to_date(#{1},'%Y-%m-%d') > carOverLoad.times
             </if>
          </select>
          
          
      <!-- 根据日期和关键字查询碰撞事件的信息 -->
	 <resultMap type="CarCollisionBean" id="collision_map">
	    <result column="driverInfo.carNum" property="carNum"/>
		<result column="driverInfo.driverNum" property="driverNum"/>
		<result column="driverInfo.driverName" property="driverName"/>
		<result column="carCollision.collRank" property="collRank"/>
		<result column="carCollision.limitValue" property="limitValue"/>
		<result column="carCollision.actualValue" property="actualValue"/>
		<result column="carCollision.collAngel" property="collAngel"/>
		<result column="carCollision.times" property="times"/>
		
	</resultMap>

	   <select id="getCollisionInfo_mapper" resultMap="collision_map">
             select * from driverInfo,carCollision where driverInfo.carNum=carCollision.carNum 
             <if test="#{2}!=null and #{2}!=''">
             and (driverInfo.carNum = #{2} || driverInfo.driverNum = #{2})
             </if>
             <if test="#{0} !=null and #{0} !=''">
             and  carCollision.times  between str_to_date(#{0},'%Y-%m-%d') and str_to_date(#{1},'%Y-%m-%d')
             </if>
             <if test="#{0} ==null or #{0} ==''">
             and  str_to_date(#{1},'%Y-%m-%d') > carCollision.times
             </if>
          </select>
</mapper>